<div class="news-list-wrapper container">
  <h3>News app</h3>
  <label for="search">Filter by keywords</label>
  <input
    placeholder="The most successful IT companies in 2020"
    type="search"
    id="search"
    [formControl]="searchControl"
  />
  <p *ngIf="searchQuery">Results: {{ resultsAmount }}</p>
  <mat-divider></mat-divider>
  <div class="news-list">
    <div *ngFor="let newsItem of newsList" class="news-item">
      <app-news-item
        [newsItem]="newsItem"
        [searchQuery]="searchQuery"
      ></app-news-item>
    </div>
  </div>

  <button
    *ngIf="newsByTitle?.next"
    (click)="loadMore()"
    class="load-more-button"
  >
    Load more
  </button>
  <div *ngIf="searchQuery && !newsList.length" class="no-news">
    There are no news matching the search request
  </div>
</div>
